page-home {
    .button-circle{
        height: 65px;
        width: 65px;
        border-radius: 100px !important;
    }
    ion-icon {
        font-size: 30px; //Preferred size here
    }
    .slider {
        height: 33.3333%;
    }
}
