<ion-header>

  <ion-navbar color="primary">
    <ion-title text-center>{{detail.title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content dir="rtl">
  <ion-card *ngIf="detail.id != 2">
    <h1 text-center>{{detail.title}}</h1>
    <img padding src="assets/img/slider.jpg" />
    <ion-card-content style="font-size:1.2rem">

      في التاريخ الهجري الخالد تشكلت الجزيرة العربية في قالبها السكاني من جديد فقد بدأت الهجرات القبلية من وإلى كل الاتجاهات لتغمر
      بتدفقها الوطن العربي والإسلامي الكبير. الأسباب مختلفة وراء هذه الهجرات العربية ولكن ما نتحدث هو ذلك التاريخ الأصيل
      لبعض هذه الهجرات وأحداثها في قلب الجزيرة العربية نرصد قصة بيت من بيوتات القويعية ذات النسب العربي القحطاني فمن هذا
      البيت تتحدث الأيام لتحدثنا عن أسرة لها سجل حافل وتاريخ وماضي عريق وحاضر تحاكي فيه قيم الأصالة والمنجزات الكبيرة .
      <br>
      <br> استوطنت قبيلة بني زيد القضاعية القحطانية قرية القويعية مهاجرة إليها من جنوب الجزيرة العربية مهد العروبة والنسب
      وقد امتدت جذور قبيلة بني زيد في شقراء والدوادمي أيضاً وكانت قرية القويعية يتشكل غالبية أهلها من قبيلة بني زيد
      <br>
      <br> ومن افخاذ قبيلة بني زيد = الحراقيص ومن بيوتاتهم آل جبرين المتفرعين إلى ثلاث أسر كبيرة هي: آل فنتوخ أبناء ناصر
      بن حمد بن جبرين بن سليمان بن جبر ين وناصر هو الملقب بفنتوخ والهويمل أبناء عبدالله بن حمد بن سليمان بن جبرين الملقب
      بالهويمل . أما الأسرة الثالثة محط رحلتنا التاريخية فهو ناصر بن راجح بن حمد بن سليمان بن جبرين (الذي يعتبر مؤسس أسرته
      أسرة الراجحي)وعرفت أسرة الراجحي بهذا الاسم نسبة إلى راجح بن حمد
      <br>
      <br> في القرن الثاني عشر للهجرة انتقل ناصر بن راجح بن حمد من مقامه في القويعية واستقر في البكيرية بعد محطات عديدة عرج
      فيها على عنيزة ثم الخبرة ثم الهلالية وكانت البكيرية إحدى مدن القصيم الناشئة وأصبحت فيما بعد تشمخ بتاريخها العريق أبراج
      وأسوار ومزارع خضراء تضم في أحضانها بيوت الطين المزخرفة بنقوش عربية أصيلة هنا في البيكرية طاب المقام لناصر الراجي تزوج
      من ثلاث نسوة أولهن من الهلالية من أسرة الحميدان وله منها : حمد وعمر الزوجة الثانية من أسرة العريني وله منها: عبدالله
      وسليمان وأربع بنات، الزوجة الثالثة من أسرة الرديني من عيون الجوى وله منها محمد ومطلق وعلي وصالح
      <br>
      <br> وعادة الأجداد الأوائل بدأ البحث عن شريان الحياة في قصة كفاح وصبر لا تنتهي فصولها فقد سارع الجد ناصر لحفر البئر
      في أرض صلبة كثيرة الحجارة ومع قلة الأعوان والأدوات المستخدمة فقد كان الصبر أداته لتحقيق مآربه ولم يمض وقت حتى اكتحلت
      عيناه بالماء يتفجر من البئر ليبعث الأمل على حياة جديدة ومستقبل وليد.
      <br>
      <br> وغير بعيد عن منبع الحياة شمر الجد ناصر عن ساعد الجد وبدأ العمل بإصرار ليقيم بنيان أول بيت له ولأسرته كان يبني
      البيت وفي خافقة يبني الأمل لتكوين أسرة لها قيم أصيلة وهو يضع اللبنات الأخيرة تأمله كثيراً ووقف أمام جدرانه العالية
      وسقوفه المزينة بسعف النخيل وأصوله بشجر الأثل عندها تنفس الصعداء وأزاح أمواج الجهد من جبينه وكانت المقصورة لتصبح البيت
      الأول لأسرة الراجحي وعنوانها على مر التاريخ .

    </ion-card-content>
  </ion-card>
  <ion-slides *ngIf="detail.id == 2" zoom="true">
    <ion-slide>
      <div class="swiper-zoom-container">
        <img src="assets/img/tree.png">
      </div>
    </ion-slide>
  </ion-slides>

</ion-content>
